<html>
    <div class="throw-button-container">
      	<%= button_to "Lanzar", dice_throw_url(), :id => "open-contacts-dialog-btn",
      :class => "btn btn-2 btn-2i", :method => :get %>
  </div>
<html>