<html>
    <div class="throw-button-container">
	<div class="row">
		<div class="span4">
		<canvas id="canvas" width="500" height="500"></canvas>
			<div class="btn_container">
				<p>
		<!-- 	<%= button_to "Lanzar", dice_throw_url(), :id => "open-contacts-dialog-btn",
	      :class => "btn btn-2 btn-2i start", :method => :get %> -->
	      <input class="btn btn-2 btn-2i start" id="spin" type="submit" value="Lanzar">
				</p>
			</div>
		</div>
	</div>
  </div>
<html>